<div class="jumbotron jumbotron-fluid" style="height:100%">
  <div class="container">
   
      <h5 align="right" >
          HCARD PREVIEW
        </h5>
  <div class="card bg-light mb-3" >
     
      <div class="card-header  bg-dark " style="height:6em"></div>
      <div class="card-body">
        <ul  class="list-group list-group-flush">
          <li class="list-group-item"><label class="labe-margin" for="email">EMAIL</label><span>{{displaycard?.email}}</span> </li>
          <li class="list-group-item"><label class="labe-margin" for="phone">PHONE</label><span>{{displaycard?.phone}}</span></li>
          <li class="list-group-item"> <label class="labe-margin" for="address">ADDRESS</label><span>{{displaycard?.house}} {{displaycard?.street}}</span></li>
          <li class="list-group-item" style="height:4em "><span>{{displaycard?.suburb}} {{displaycard?.state}}</span> </li>
          <li class="list-group-item">
            <div class="row">
             <div class="col-6">
            <label class="labe-margin"for="postcode">POSTCODE</label> 
            <span style="width:3em" >{{displaycard?.postcode}}</span>
          </div> 
          <div class="col-6">
            <label class="labe-margin" for="country">COUNTRY</label>
            <span style="width:3em" >{{displaycard?.country}}</span>
            </div>
          </div> 
          </li>
        </ul>
    </div>

   </div> 
   </div>
  </div>