<div>
  <div>
    <form>
      <div class="container">
        <h3>
          hCard Builder
        </h3>
        <br />
        <h6>PERSONAL DETAILS:</h6>
        <hr />
        <div class="row">
          <div class="form-group col-6">
            <label for="givenname">GIVEN NAME</label>
            <input type="text" class="form-control"  [maxlength]="30" id="givennamme" [(ngModel)]="givenName" name="givenName">
          </div>

          <div class="form-group col-6">
            <label for="surname">SURNAME</label>
            <input type="text" class="form-control" [maxlength]="30" id="surname" [(ngModel)]="surName" name="surName">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="email">EMAIL</label>
            <input type="email" class="form-control" [maxlength]="30" id="email" [(ngModel)]="email" name="email">
          </div>
          <div class="form-group col-6">
            <label for="phone">PHONE</label>
            <input type="text" class="form-control" [maxlength]="15" id="phone" [(ngModel)]="phone" name="phone">
          </div>
        </div>
      </div>
      <div class="container ">
        <br />
        <h6>ADDRESS:</h6>
        <hr />
        <div class="row">
          <div class="form-group col-6">
            <label for="house">HOUSE NAME OR #</label>
            <input type="text" class="form-control" [maxlength]="30" id="house" [(ngModel)]="house" name="house">
          </div>
          <div class="form-group col-6">
            <label for="street">STREET</label>
            <input type="text" class="form-control" [maxlength]="30" id="street" [(ngModel)]="street" name="street">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="suburb">SUBURB</label>
            <input type="text" class="form-control" [maxlength]="30" id="suburb" [(ngModel)]="suburb" name="suburb">
          </div>
          <div class="form-group col-6">
            <label for="state">STATE</label>
            <input type="text" class="form-control" [maxlength]="5" id="state" [(ngModel)]="state" name="state">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="postcode">POSTCODE</label>
            <input type="number" class="form-control" [maxlength]="4" id="postcode" [(ngModel)]="postcode" name="postcode">
          </div>
          <div class="form-group col-6">
            <label for="country">COUNTRY</label>
            <input type="text" class="form-control" [maxlength]="30" id="country" [(ngModel)]="country" name="country">
          </div>
        </div>
        <div class="row justify-content-center">
          <button class="btn btn-primary" type="submit">Create hCard</button>
        </div>
      </div>

</form>
  </div>
</div>
